* {
  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: bold;
}

window#waybar {
  background: transparent;
}

#clock,
#workspaces,
#custom-combined_audio,
#custom-spotify,
#tray,
#window,
#network,
#backlight,
#bluetooth,
#custom-player_icon,
#custom-agenda_icon,
#custom-cpu_icon,
#custom-network_icon,
#custom-audio_icon,
#custom-bluetooth_icon,
#cpu,
#idle_inhibitor,
#pulseaudio,
#pulseaudio.microphone,
#custom-connection,
#battery {
  background-color: #3c3836;
  padding-right: 15px;
  padding-left: 15px;
  color: #ffffff;
  margin: 5px;
  border: 2px solid #ba8e23;
}

#network {
  color: #8ec07c;
}

#network.disconnected {
  color: #cc241d;
}

#tray {
  background-image: linear-gradient(#abb0ab);
  background-size: 1px 0%;
  background-position: 95% 50%;
  background-repeat: no-repeat;
}

tooltip {
  margin: 10px;
  border-radius: 10px;
  border: 1px solid white;
  background: rgba(8, 7, 7, 0.8);
}

tooltip label {
  padding: 10px;
}

#workspaces button {
  padding: 0px 4px;
  color: #c9c9c9;
  border: none;
}

#workspaces button:hover {
  color: #44adc9;
  background: inherit;
}

#workspaces button.active {
  color: #ba8e23;
  background: inherit;
  border-bottom: 2px solid white;
}

@keyframes blink {
  to {
    color: black;
    background-color: white;
  }
}

#workspaces button.urgent {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: 4;
  animation-direction: alternate;
}

#custom-player_icon,
#custom-agenda_icon,
#custom-cpu_icon,
#custom-network_icon,
#custom-audio_icon,
#custom-bluetooth_icon {
  background-color: black;
  margin-right: 0;
}

#custom-player_icon {
  color: #f79eac;
}

#custom-agenda_icon {
  color: #836994;
}

#custom-cpu_icon {
  color: #C48236;
}

#custom-audio_icon {
  color: #eb6363;
}

#custom-network_icon {
  color: #8ec07c;
}

#custom-bluetooth_icon {
  color: #639190;
}

#custom-spotify,
#clock,
#cpu,
#pulseaudio,
#network,
#bluetooth {
  color: whitesmoke;
  margin-left: 0;
  border-left: 0;
}
